# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django
*.log
logs/
backups/
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
build/
dist/
packaging/output/
packaging/tools/

# Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
